<div>
<h1><{$smarty.const._MD_CHAT_CHAT}> <img title="<{$smarty.const._MD_CHAT_LOADING}>" id="chat_loading" src="<{xoAppUrl /modules/chat/images/ajax-loader.gif}>" alt="" /></h1>
<div>
  <div class="chat2">
    <div id="chat_online"><!-- Сюда мы будем добавлять список онлайн --></div>
  </div>
  <div class="chat1">
    <div id="chat_area"><!-- Сюда мы будем добавлять новые сообщения --></div>
  </div>
</div>
<form id="pac_form" action=""><!-- Наша форма с именем, сообщением и кнопкой для отправки -->
<table style="width: 100%;">
	<tr>
		<td><{$smarty.const._MD_CHAT_MESSAGE}></td>
		<td></td>
        <td></td>
	</tr>
	<tr>
		<!-- Поле ввода сообщения -->
		<td><input type="text" id="pac_text" class="chat-text" value=""></td>
		
		<!-- Кнопка "Отправить" -->
		<td><input type="submit" value="<{$smarty.const._MD_CHAT_SEND}>"></td>
        <td><img src='<{$xoops_url}>/images/smiley.gif' alt='Smiles' title='Smiles' onclick='openWithSelfMain("<{$xoops_url}>/misc.php?action=showpopups&amp;type=smilies&amp;target=pac_text","smilies",300,475);'  onmouseover='style.cursor="hand"'/></td>
	</tr>
</table>
</form>

</div>
